:root {
    --background: rgba(255, 255, 255, 1);
    --accent-blue: #5bc0eb;
    --accent-yellow: #fde74c;
    --accent-green: #9bc53d;
    --accent-red: #c3423f;
    --black-light: #404e4d;
    --black: #1c2221;
    --black-dark: #121616;

    --button: #ffa7cf;
    --button-hover: #b77e99;

    margin: 0;
}

body {
    margin: 0;
}
