:root {
  --background: rgba(255,255,255,1);
  --accent-blue: #5BC0EB;
  --accent-yellow: #FDE74C;
  --accent-green: #9BC53D;
  --accent-red: #C3423F;
  --black-light: #404E4D;
  --black: #1C2221;
  --black-dark: #121616;

  --button-blue: #25ABE4;
  --button-blue-hover: #1478A3;

  margin: 0;

}

body {
  margin: 0;
}
