.container {
    display: flex;
    align-items: center;
    height: 100%;

    background: none;

    border: none;
}

.picture {
    border: 3px solid white;
    border-radius: 100px;
    background: #e1e9f3;
}

.picture:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.cart-picture {
    filter: invert(1);
}

.cart-picture:hover {
    cursor: pointer;
    filter: invert(0.8);
}

@media screen and (max-width: 768px) {
    .container {
        display: none;
    }
}

.dropdown {
    display: flex;
    width: min-content;
    background: none;
    border: none;
}
