.container {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: stretch;
    width: 100%;
    height: 300px;
    padding-top: 30px;
}

.homeBanner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 800px;
    height: 300px;
    background-color: var(--black);
    z-index: -2;
}

.homeBannerBackground {
    position: absolute;
    top: 0; left: 0;
    width: 100%;

    filter: blur(5px) opacity(0.2);
    z-index: -1;

}

.homeBannerSwitcher {
    width: 40px;
    border: 0;

    filter: opacity(0.5);
    background: #ffa7cf;

    transition: 100ms ease;
    z-index: 5;
}

.homeBannerSwitcher:hover {
    filter: opacity(0.9);
    cursor: pointer;
}

.switcherLeft {
}


.switcherRight {
}

.homeBannerSlider {
}

.homeBannerDisplay {
    width: 600px;
    filter: none;
}
