.container {
    padding: 10px 10px 10px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

.subtitle {
    margin-left: 2rem; 
    color: gray;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
}

.ticket {
    display: flex;
}

@media screen and (max-width: 1200px) {
    .container {
        text-align: center;
        padding: 10px;
    }
    
    .ticket {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}